body {
    margin: 0;
    background-color: #f1f5f9;
}

h1 {
    margin: 0;
}

.header {
    background-color: #d1fae5;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-book-btn {
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #4ade80;
    color: #f1f5f9;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4rem;
}

button:active {
    transform: scale(0.98);
}

.book-container {
    padding: 1rem 3rem;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    grid-auto-rows: 250px;
    gap: 1rem;
}

.book-container .book {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid black;
}

.book h2 {
    margin: 0;
    text-align: center;
}

.book p {
    margin: 0;
}

.book p:first-of-type::before {
    content: "Author: ";
    color: #44403c;
    font-style: italic;
}

.book p:last-of-type::after {
    content: " pages"
}

.book p:last-of-type {
    flex: 1;
}

.book button {
    font-weight: 900;
    color: #f1f5f9;
    padding: 0.5rem;
    border: none;
    border-radius: 4rem;
}

.book button.remove-btn,
.book button.not-read {
    background-color: #f87171;
}

.book button.read {
    background-color: #84cc16;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal.active {
    display: grid;
    place-items: center;
}

.modal > form {
    overflow: auto;
    background-color: #f1f5f9;
    width: 50%;
    height: 50%;
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.modal > form > div {
    grid-column: span 2;
}

.modal > form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.modal > form > button {
    grid-column: span 2;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #4ade80;
    color: #f1f5f9;
    padding: 0.5rem;
    border: none;
    border-radius: 4rem;
}

.modal > form > button:active {
    transform: scale(0.98);
}

.modal > form > input {
    height: 1.5rem;
    padding: 0.25rem;
}

.modal > form > label {
    font-size: 1.25rem;
    font-weight: bold;
}